body {
    background-color: black;
    color: white;
}

h1, h2 {
    color: white;
    text-align: center;
}

.chart-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border: 1px solid #ccc;
}

p {
    
    padding: 50px;
    font-size: 16px;
}
.chart-box {
    width: 45%;
    padding: 10px;
    margin: 0 auto;
}

a:link {
    color: rgb(0, 255, 13);
  }
  
  /* visited link */
  a:visited {
    color: rgb(128, 0, 0);
  }
  
  /* mouse over link */
  a:hover {
    color: hotpink;
  }
  
  /* selected link */
  a:active {
    color: blue;
  }
 

  




