<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <style>
        .chart-container {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 1rem;
            margin-bottom: 1rem;
        }
        .chart-box {
            padding: 1rem;
            margin: 1rem;
            border: 2px solid white;
            background-color: black;
            width: 45%;
        }
        .chart-title {
            color: white;
            font-size: 1.5rem;
            text-align: center;
            margin-bottom: 1rem;
        }
    </style>
</head>
<body>
  <div class="text-center">
    <h1 style="color:white; font-size:2.5rem;">Entered Zipcode: {{ zip }}</h1>
  </div>
  <div class="chart-container">
      <div class="chart-box">
          <div class="chart-title">Increased Energy Costs in Your Region</div>
          <canvas id="myChart"></canvas>
      </div>
      <div class="chart-box">
          <div class="chart-title">Total Blackout Hours by Season</div>
          <canvas id="barChart"></canvas>
      </div>
  </div>
  
  <div class="recommendation">
    <h3> Your Reccomendation</h3>
    <button id="generate-recommendation">Generate Recommendation</button>
    <div id="recommendation"></div>
    <a href="https://gmenergy.gm.com/">Learn more about GM Energy products here </a>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script>
      var ctx = document.getElementById('myChart').getContext('2d');
      var chart = new Chart(ctx, {{ chart_data|safe }});

      var barCtx = document.getElementById('barChart').getContext('2d');
      var barChart = new Chart(barCtx, {{ duration_data|safe }});
 
      var generateButton = document.getElementById('generate-recommendation');

      var generateButton = document.getElementById('generateButton');

      generateButton.addEventListener('click', function() {
      var recommendationDiv = document.getElementById('recommendation');
      var recommendationList = document.createElement('ul');
      var recommendation1 = document.createElement('li');
      var recommendation2 = document.createElement('li');
      recommendation1.innerHTML = 'Home battery: Avoid outages by storing energy at home!';
      recommendation2.innerHTML = 'Solar panel: Become grid independent by generating your own energy!';
      recommendationList.appendChild(recommendation1);
      recommendationList.appendChild(recommendation2);
      recommendationDiv.appendChild(recommendationList);

      var contactForm = document.createElement('form');
      var emailInput = document.createElement('input');
      var phoneInput = document.createElement('input');
      var submitButton = document.createElement('button');
      emailInput.setAttribute('type', 'email');
      emailInput.setAttribute('placeholder', 'Email');
      phoneInput.setAttribute('type', 'tel');
      phoneInput.setAttribute('placeholder', 'Phone');
      submitButton.setAttribute('type', 'submit');
      submitButton.innerHTML = 'Submit';
      contactForm.appendChild(emailInput);
      contactForm.appendChild(phoneInput);
      contactForm.appendChild(submitButton);
      recommendationDiv.appendChild(contactForm);

      submitButton.addEventListener('click', function() {
        emailInput.value = '';
        phoneInput.value = '';
      });
    });



  </script>
</body>
</html>



