<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <div class="text-center">
    <h1>Entered Zipcode: {{ zip }}</h1>
  </div>
  <div class="chart-container">
      <div class="chart-box">
          <canvas id="myChart"></canvas>
      </div>
      <div class="chart-box">
          <canvas id="barChart"></canvas>
      </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script>
      var ctx = document.getElementById('myChart').getContext('2d');
      var chart = new Chart(ctx, {{ chart_data|safe }});


      var barCtx = document.getElementById('barChart').getContext('2d');
      var barChart = new Chart(barCtx, {{ duration_data|safe }});
      
      chart.options = {
          scales: {
              yAxes: [{
                  ticks: {
                      beginAtZero: true,
                      fontSize: 16 // change font size for yAxes ticks
                  }
              }],
              xAxes: [{
                  ticks: {
                      fontSize: 16 // change font size for xAxes ticks
                  }
              }]
          }
      };
      
      barChart.options = {
          scales: {
              yAxes: [{
                  ticks: {
                      beginAtZero: true,
                      fontSize: 16 // change font size for yAxes ticks
                  }
              }],
              xAxes: [{
                  ticks: {
                      fontSize: 16 // change font size for xAxes ticks
                  }
              }]
          },
          legend: {
              labels: {
                  fontColor: 'black' // set font color to black
              }
          }
      };
      
      barChart.data.datasets[0].backgroundColor = 'transparent'; // set background color to transparent for duration dataset
  </script>
</body>
</html>



