<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <h1>Your zipcode:{{ zip }}</h1>
  <div class="chart-container">
      <div class="chart-box">
          <canvas id="myChart"></canvas>
          <h2 class="chart-title text-white fs-4 fw-bold">Increased Energy Costs in your Region</h2>
      </div>
      <div class="chart-box">
          <canvas id="barChart"></canvas>
          <h2 class="chart-title text-white fs-4 fw-bold">Blackout Total Hours by Season</h2>
      </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script>
      var ctx = document.getElementById('myChart').getContext('2d');
      var chart = new Chart(ctx, {{ chart_data|safe }});


      var barCtx = document.getElementById('barChart').getContext('2d');
      var barChart = new Chart(barCtx, {{ duration_data|safe }});
  </script>
</body>
</html>



